body {
  margin: auto;
  display: grid;
  height: 100dvh;
  grid-template-columns: 0.2fr 1fr;
  font-family: "indivisible", sans-serif;
  background-color: #ffedd5;
  color: #431407;
}

.sidebar {
  color: #fed7aa;
  background-color: #c2410c;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  font-weight: 600;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 80%;
  color: #fed7aa;
  background-color: #f97316;
  border-radius: 0 0 10px 10px;
  margin: 0 1rem 1rem;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.logo-pic {
  width: 2rem;
}

.sidebar .link-container,
.sidebar .other-links {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-left: 3px solid;
  gap: 0.5rem;
}

.home,
.profile,
.messages,
.history,
.tasks,
.communities,
.settings,
.support,
.privacy {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  padding-left: 5%;
  cursor: pointer;
}

.link-container img,
.other-links img {
  width: 2rem;
}

.logo,
.link-container {
  flex-grow: 0;
  flex-shrink: 0;
}

.other-links {
  position: sticky;
  top: 60%;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-template-rows: minmax(200px, 20dvh) 1fr 1fr;
}

.header {
  background-color: #fdba74;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  gap: 1rem;
  margin: 0;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.search {
  width: 50dvw;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-icon {
  width: 2rem;
}

#search {
  flex-grow: 1;
  height: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #ffedd5;
  box-shadow: inset 0 2px 2px #c2410c;
  color: #c2410c;
  font-family: "indivisible", sans-serif;
  font-weight: 600;
  padding: 1rem;
}

#search:focus {
  outline: #c2410c 2px solid;
}

.icons {
  display: flex;
  font-weight: 600;
  gap: 1rem;
}

.icon-notification,
.icon-name,
.icon-profile-pic {
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.icon-notification:hover,
.icon-name:hover,
.icon-profile-pic:hover {
  transform: translateY(4%);
  cursor: pointer;
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 12px 12px hsl(117deg 0% 0% / 0.33)
  ;
}

.icon-notification {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f97316;
  padding: 0.5rem;
  border-radius: 10px;
}

.icon-profile-pic {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
}

.icon-name {
  margin-left: auto;
  margin-right: 0;
  color: #fed7aa;
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: #f97316;
  border-radius: 10px 0 0 10px;
}

.greeting {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 1rem;
  font-weight: 700;
  padding: 0;
}

.greeting-profile-pic {
  width: 5rem;
  border-radius: 50px;
}

.greeting-greeting {
  margin: 0;
  text-align: justify;
}

p.greeting-text {
  margin: 0;
  font-size: 1rem;
}

p.greeting-username {
  margin: 0;
  font-size: 2rem;
}

.header-btns {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header-btns-new,
.header-btns-upload,
.header-btns-share {
  width: 7rem;
  height: 2rem;
  font-weight: 600;
  border: 2px solid;
  border-radius: 10px;
  background-color: #fdba74;
  color: #c2410c;
  cursor: pointer;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

button:hover {
  transform: translateY(4%);
  box-shadow: 
  0 1px 1px hsla(117deg, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 12px 12px hsl(117deg 0% 0% / 0.33)
  ;
}

.main {
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: start;
  align-content: start;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px 10px;
}

.main-header {
  grid-column: 1 / -1;
  margin: 0;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  color: #431407;
  background-color: #fff7ed;
  border-radius: 10px;
  border-left: 0.5rem solid #c2410c;
  padding: 1rem;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.card-content.expanded {
  -webkit-line-clamp: none;
  text-overflow: clip;
  overflow: scroll;
}

.card-icons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding: 1rem;
}

.card-icon {
  width: 1.5rem;
}

.main-img {
  grid-column: 1 / -1;
  width: 100%;
  border-radius: 10px;
  margin-top: 1rem;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.announcements {
  border-radius: 10px;
  color: #431407;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0;
}

.announcements-header {
  margin-top: 2rem;
  margin-inline: 1rem;
}

.announcements-card {
  display: flex;
  flex-direction: column;
  margin-inline: 1rem;
  background-color: #f97316;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.announcements-card-text1,
.announcements-card-text2,
.announcements-card-text3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: scroll;
  text-overflow: ellipsis;
}

hr {
  border: none;
  border-top: 1px solid #431407;
  width: 60%;
  margin: 0.5rem auto;
}

.trending {
  grid-row: 3;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px 10px 0 0;
  height: 5rem;
}

.trending-header {
  margin: 0;
  margin-inline: 1rem;
}

.trending-user {
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 0.3rem;
  background-color: #fb923c;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 
  0 1px 1px hsla(0, 0%, 0%, 0.075),
  0 2px 2px hsl(117deg 0% 0% / 0.075),
  0 4px 4px hsl(117deg 0% 0% / 0.075),
  0 8px 8px hsl(117deg 0% 0% / 0.075),
  0 16px 16px hsl(117deg 0% 0% / 0.075)
  ;
}

.trending-user-pic {
  width: 3rem;
  border-radius: 100px;
}

.trending-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
}

.trending-user-name {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.trending-user-bio {
  margin: 0;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: scroll;
  text-overflow: ellipsis;
}